# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/


# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem


# local env files
.env
venv
.venv
expo-env.d.ts
nativewind-env.d.ts
VEPO database structure.docx
~$PO database structure.docx
notes.txt
# typescript
*.tsbuildinfo

app-example

#ENVIRONMENT VARIABLES

